(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("sim_build/verilator/dump.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "altera_avalon_sc_fifo",
            ],
            id: Wellen((3)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "in_valid",
                    id: Wellen((43)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "in_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "out_valid",
                    id: Wellen((51)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "out_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "out_data",
                    id: Wellen((50)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "out_data [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "out_endofpacket",
                    id: Wellen((53)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "out_endofpacket",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "in_ready",
                    id: Wellen((49)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "in_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (14): Group((
                name: "output",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "in_startofpacket",
                    id: Wellen((44)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "in_startofpacket",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "reset",
                    id: Wellen((41)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "out_ready",
                    id: Wellen((57)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "out_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "clk",
                    id: Wellen((40)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "out_startofpacket",
                    id: Wellen((52)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "out_startofpacket",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (13): Group((
                name: "input",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "in_data",
                    id: Wellen((42)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "in_data [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "altera_avalon_sc_fifo",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "in_endofpacket",
                    id: Wellen((45)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "in_endofpacket",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 16,
        viewports: [
            (
                curr_left: (-0.2),
                curr_right: (1.2),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            35,
        ])),
        markers: {},
        selected_annotation: None,
        annotations: [],
        annotation_groups: [],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: Some((7)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: NanoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "in",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    trace_style: None,
    transition_value: None,
    toolbar_group_enabled: {},
    toolbar_group_rows: [
        [
            "menu",
            "files",
            "copy",
            "zoom",
            "navigation",
            "transitions",
            "add_items",
            "viewports",
            "undo",
            "cxxrtl",
            "time",
            "annotations",
        ],
    ],
    draw_vector_unknowns_as_line: None,
    focus_highlight: None,
    show_annotation_list: false,
)